/* @media screen and (min-width: 481px) {
  .visual {
      margin-top: 120px;
      background-image: url("../images/visual_bg.jpg"); 
      background-position: center;
  }
}
@media screen and (max-width: 480px) {
  .visual {
      margin-top: 75px;
      background-image: url("../images/visual_bg.jpg"); 
      background-position: center;
  }
}
.visual .inner {
  height: 646px;
} */

.sub{
  margin-top: 120px;
  padding: 20px 0 150px;
  /* background-image: url('../images/signin_bg.jpg'); */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  
  
}
.sub h1{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.sub h2{
  color: #000;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 24px;
}

#container {
    width: 100%;
}

.sub .sub_tit_wrap {
  width: 100%;
  height: 98px;
  background: #ffffff;
  text-align: center;
}
.sub .sub_tit_wrap div.sub_tit_inner {
  width: 85%;
  height: 91px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  
  max-width:1130px;
}

.content {
  width: 85%;
  margin: 0 auto ;
  display: table;
  text-align: center;
  position: relative;
  
  max-width:1130px;
}

@media screen and (min-width: 961px) {
  .side {
    float: left;
    width: 25%;
    margin: 0 auto ;
    text-align: left;
    
  }
  .right {
    float: left;
    width: 75%;
    margin: 0 10 0 10 ;
    text-align: center;
  }
}
@media screen and (max-width: 960px) {
  .side {
    display: none; 
  }
  .right {
    float: left;
    width: 100%;
    margin: 0 auto ;
    text-align: center;
  }
}



div.sub_kind_wrap {
  padding: 30px 30px 0 30px;
  border: 1px solid #ddd;
  position: relative;
  border-radius: 10px;
  margin-bottom: 40px;
  
  text-align: center;
}
div.sub_kind_left_wrap_line {
  padding: 0px 8px 0px 0px;
  border: 1px solid #ddd;
  position: relative;
  border-radius: 10px;
  margin-bottom: 4px;
  text-align: left;
}

div.sub_kind_right_wrap_noline {
  padding: 0px 6px 0px 6px;
  border: 0px solid #ddd;
  position: relative;
  border-radius: 10px;
  margin-bottom: 4px;
  text-align: left;
}


div.sub_kind_left_wrap {
  padding: 0px 8px 0px 0px;
  border: 1px solid rgb(255, 255, 255);
  position: relative;
  border-radius: 10px;
  margin-bottom: 4px;
  text-align: left;
}
   
ul.smap {
  position: absolute;
  right: 0;
  top: 60px;
}
ul.smap img.arrow {
  position: relative;
  top: 2px;
}
ul.smap li {
  vertical-align: middle;
  float: left;
  height: 16px;
  line-height: 16px;
  margin: 0 2.5px;
}

img._center {
  display: block; 
  margin: 0px auto;
  max-width: 100%;
  height: auto;
}
.CEO_greetings {
  font-family: 'Noto Sans KR';
  background: url("/images/sub/ceo_circle.png") top left no-repeat;
  text-align: right;
}
.CEO_greetings h3 {
  font-size: 16px;
  color: black;
  line-height: 20px;
  font-family: 'Nanum Gothic';
}
.CEO_greetings h3.tit {
  font-size: 17px;
  color:black; 
  line-height: 20px;
  font-family: 'Nanum Gothic';
}
.CEO_greetings h3 strong {
  font-weight: 800;
  color: #dc6bf8;
}
.CEO_greetings h3 b {
  font-weight: 800;
  color: saddlebrown;
}
.CEO_greetings h4 {
  font-size: 14px;
  color: black;
  line-height: 20px;
  font-weight: 600;
  font-family: 'Nanum Gothic';
}
.CEO_greetings h5 {
  font-size: 13px;
  line-height: 20px;
  font-family: 'Nanum Gothic';
}
.CEO_greetings h5._left {
  font-size: 13px;
  line-height: 20px;
  font-family: 'Nanum Gothic';
  text-align: left;
}
.CEO_greetings h5._right {
  text-align: right;
}
.side ._title {
  display: block;
  margin: 0 0 25px 0;
  padding-left: 10px;
  background: url("/images/titlebar.png") no-repeat left 2px;
  font-family: 'Nanum Gothic','Malgun Gothic',돋움,sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #333;
}
.side ul.menu{
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.side ul.menu li{

  position: relative;
  display: block;
  padding: 16px 12px;
  font-family: 'Nanum Gothic','Malgun Gothic',돋움,sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #808080;
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  outline: none;
  border-bottom: 1px solid #eaeaea;
}

/* .side ul.menu li::before{
  content: " ";
  width: 1px;
  height: 12px;
  background-color: #9c9c9c;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
} 

.side ul.menu li a{
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;

}*/
/* a{
  font-size: 14px;
  color: gray;
} */
.side ul.menu li a{
  font-size: 13px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}
.side ul.menu li a._current{
  font-size: 14px;
  font-weight: 990;
  color: black;
}
.side ul.menu li a:hover{
  color: #000;
}
/* .side ul.menu li.current{
  font-weight: 900;
  color: black;
} */

.right ul._hist{
  border-width: 0px 0px 1px; 
  list-style: none; 
  margin: 0px; 
  padding: 0px; 
  line-height: 12px; 
  font-family: '맑은 고딕', 'malgun gothic', '돋움', 'dotum', 'AppleGothic', 'sans-serif'; 
  font-size: 12px; 
  vertical-align: baseline; 
  /*border-bottom-color: rgb(192, 195, 202); 
  border-bottom-style: solid; */
  background-color: rgb(255, 255, 255);
  
  background: url("/images/sub/hist_bg1.png") no-repeat right/60%;
}
.right ul._hist:last-child{
  border-bottom-color: rgb(255, 255, 255); 
}
.right ul._hist li{
  border-width: 0px 0px 1px; 
  padding: 20px 0px 18px; 
  margin-right: 0px; 
  margin-left: 0px; 
  vertical-align: baseline; 
  /*border-bottom-color: rgb(236, 237, 239); 
  border-bottom-style: solid;*/
}

.right ul._hist li:last-child{
  border-bottom-color: rgb(255, 255, 255); 
}

.right ul._hist li strong._year{
  margin: 0px; 
  padding: 4px 0px 0px; 
  border: 0px currentColor; 
  border-image: none; 
  width: 135px; 
  text-align: center; 
  color: rgb(0, 108, 184); 
  font-family: Tahoma; 
  font-size: 14px; 
  vertical-align: top; 
  display: inline-block;
}

.right ul._hist li ul{
  list-style: none; 
  margin: 0px; 
  padding: 0px; 
  border: 0px currentColor; 
  border-image: none; 
  width: 60%; 
  vertical-align: baseline; 
  display: inline-block; 
}
.right ul._hist li ul li{
  padding: 0px; 
  border: 0px currentColor; 
  border-image: none; 
  color: rgb(102, 111, 132); 
  line-height: 1.6; 
  margin-right: 0px; 
  margin-left: 0px; 
  vertical-align: baseline;
}
.right ul._hist li ul li span{
  margin: 0px; padding: 0px 10px 0px 0px; border: 0px currentColor; border-image: none; color: rgb(70, 75, 85); font-family: Tahoma; font-size: 14px; font-weight: bold; vertical-align: baseline;
}



/* factory */
div.factory_wrap,
div.product_wrap {
  background: #fff;
  margin-bottom: 10px;
  height: auto;
}
div.factory_2nd_wrap {
  background: #f4f4f2;
  margin-bottom: 10px;
}

div.factory_2nd_wrap h3{
  font-size: 18px;
  font-weight: bold;
  color: #222;
  padding-top: 20px;
}

div.factory_content {
  width: 1100px;  
  margin: 0 auto 40px ; 
} 
p.cultivation_img { 
  float:left; 
  width:402px; 
}
@media screen and (min-width: 961px) and (max-width: 1099px){
  div.factory_content {
      width: 96%;
      margin: 0 auto;
      left: auto;
  }
  p.cultivation_img {
    width: 50%;
  }

}
@media screen and (min-width:641px) and (max-width:960px) {
  div.factory_content {
    width:96%; 
    margin:0 auto; 
    left:auto; 
  }
  p.cultivation_img {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 6%;
  }
} 
@media screen and (max-width:640px) {
  div.factory_content { 
    width:96%; 
    margin:0 auto; 
    left:auto; 
  }
  p.cultivation_img {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 6%;
  }
}


h3 {
  font-size: 18px;
  font-weight: bold;
  color: #222;
  margin: 0 0 20px 0;
}


div.coffeeCultivation_wrap { 
  background:#fff; 
  margin-bottom:60px; 
}
    
div.cultivation_wrap { 
  padding-bottom:45px; 
}
div.cultivation_wrap:after { 
  content:""; 
  display:block; 
  clear:both; 
}


div.cultivation_text { 
  float:left; 
  width:70%; 
  padding:0 0 0 20px; 
}
div.cultivation_text h3 { 
  font-size:18px; 
  font-weight:bold; 
  color:#222; 
  margin:0 0 20px 0; 
}
div.cultivation_text p.t1 { 
  font-size:14px; 
  color:#444; 
  line-height:1.6; 
  padding-bottom:30px; 
}
div.cultivation_text p.t2 { 
  font-size:14px; 
  color:#444; 
  line-height:1.6; 
}

dl.cultivation_text { float:left; padding:0 0 0 30px; }
dl.cultivation_text dt { font-size:20px; color:#006633; padding-bottom:20px; line-height:1.4; font-style:italic; }
dl.cultivation_text dd p.text1 { font-size:14px; color:#444; line-height:1.6; padding-bottom:15px; } 
/* 
div.coffeeCultivation_wrap div.cultivation_wrap { padding-bottom:0; }
div.coffeeCultivation_wrap h3 { font-size:18px; font-weight:bold; color:#222; margin:0 0 20px 0; }
div.coffeeCultivation_wrap dl.cultivation_text { float:left; width:520px; padding:0 0 0 30px; }
div.coffeeCultivation_wrap dl.cultivation_text dt { font-size:20px; color:#006633; padding-bottom:20px; line-height:1.4; font-style:italic; }
div.coffeeCultivation_wrap dl.cultivation_text dd p.text1 { font-size:14px; color:#444; line-height:1.6; padding-bottom:15px; } */

.partner-em {
  display: block;
  margin-bottom: 0.833rem;
  font-size: 1.222rem;
  color: #E6231D;
  letter-spacing: -.02em;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.227;
  font-family: 'Montserrat','Noto Sans KR','NotoSans','Apple SD Gothic Neo',sans-serif;
}
dt {
  margin-bottom: 10px;
  border-radius: 9px;
  overflow: hidden;
  font-size: 16px;
  text-align: right;
} 
dt.partner {
  text-align: left;
  width: 100%;
} 

dt.lineup_bb{
  background: rgb(254, 138, 176);
  color: #fff;
  text-align: left;
  padding: 10px;
  font-size: 20px;
}
dt.lineup_grain{
  background: #936b47;
  color: #fff;
  text-align: left;
  padding: 10px;
  font-size: 20px;
}
dt.lineup_thin{
  background: #629cd0;
  color: #fff;
  text-align: left;
  padding: 10px;
  font-size: 20px;
}
dt.product_ediya {
  padding: 5px;
  background: rgb(42, 71, 191);
  color: rgb(255, 255, 255);
} 


dt.product_skippy {
  padding: 5px;
  background: #0094bc;
  color: rgb(255, 255, 255);
}

dt.product_tourjour {
  padding: 5px;
  background: rgb(64, 116, 78);
  /* background-image: url("/images/ediya_logo_wide.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  margin-bottom: 0px;
  border-radius: 9px;
  font-size: 16px;
  text-align: right;
  color: rgb(255, 255, 255);
} 

dt.product_babybus {
  padding: 5px;
  background: rgb(147, 194, 255);
  /* background-image: url("/images/ediya_logo_wide.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  margin-bottom: 0px;
  border-radius: 9px;
  font-size: 16px;
  text-align: right;
  color: rgb(255, 236, 236);
} 
dt.product_pororo {
  padding: 5px;
  background: rgb(247, 247, 247);
  /* background-image: url("/images/ediya_logo_wide.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  margin-bottom: 0px;
  border-radius: 9px;
  font-size: 16px;
  text-align: right;
  color: rgb(76, 76, 76);
} 
dt.product_bobosh {
  padding: 5px;
  background: rgb(214, 156, 187);
  /* background-image: url("/images/ediya_logo_wide.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  margin-bottom: 0px;
  border-radius: 9px;
  font-size: 16px;
  text-align: right;
  color: rgb(76, 76, 76);
}
dt.product_hapi {
  padding: 5px;
  background: #f9f9f9;
  /* background-image: url("/images/ediya_logo_wide.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  margin-bottom: 0px;
  border-radius: 9px;
  font-size: 16px;
  text-align: right;
  color: rgb(76, 76, 76);
}
dt.product_spoonz {
  padding: 5px;
  background: #74cbcb;
  /* background-image: url("/images/ediya_logo_wide.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  margin-bottom: 0px;
  border-radius: 9px;
  font-size: 16px;
  text-align: right;
  color: rgb(76, 76, 76);
}
dt.product_emart24 {
  padding: 5px;
  background: #ffb71b;
  color: rgb(255, 255, 255);
} 

.product_ediya_text {
  text-align: left;
  font-size: 22px;
}
ul.product {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
}
ul.product > li.data {
  width: 49%;
  margin: 0.5%;
  position: relative;
  float: left;
}

ul.product > li.partners{
  width: 32%;
  margin: 0.5%;
  position: relative;
  float: left;
}
ul.product > li.world{
  width: 100%;
  position: relative;
  float: left;
}
ul.product > li.world img {
  width: 100%;
  min-width: 640px;
}
ul.product > li.partners img {
  width: 100%;
  min-width: 150px;
}
ul.product > li.data img {
  width: 100%;
  transform: scale(1.0);  
  transition: 1.2s;
}
ul.product > li.data img:hover{
  transform: scale(1.1);
  transition: 1.2s;
}
ul > li > dl {
  width: 100%;
}
ul > li > dl > dt {
  width: 100%;
  height: auto;
  
  overflow: hidden;
}



/* div.product_list > dl > dd > ul li dt > a > img { transition: transform 1s; -webkit-transition: -webkit-transform 1s;  height:100%; width:100%; }
div.product_list > dl > dd > ul li dt > a > img:hover { transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); } */

/* div.factory_wrap img {
  height: auto;
  width: 100%;
  transform: scale(1.0); 
  transition: 1.2s;
}
div.factory_wrap img:hover{
  transform: scale(1.1);
  transition: 1.2s;
} */

ul > li > dl > dd {
  font-size: 18px;
  color: #444;
  height: 54px;
  line-height: 54px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

